.container{
    background-color:indianred;
    width: 75%;
    justify-content: center;
}
body{
    background-color:lightseagreen;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-align:left;
}